span{
  color: #FF6978;
}
option{
font-family: "inconsolata", sans-serif;
color: #3e403f;
}

div.imagen{
  width: 20%;
  display: block;
  margin: 0 auto;
}
div.imagen.profile img{
  width: 20%;
}
div.container h1{
  font-family: "Playfair Display",monospace;
  text-align: center;
  font-size: 150%;
  letter-spacing: 2px;
  margin:3%;
  color: #3e403f;
  font-weight: bold;
}
h3{
  font-family: "inconsolata",sans-serif;
  font-size: 100%!important;
  color: #FF6978;
  margin-left: 5%;
  color: #3e403f;
}
button#boton:hover{
background-color:#FFD0D9;
  color:white;
}
button.boton{
  background-color: white;
      color: #3e403f;
    border: 2px solid #FFD0D9;
    font-size: 20px;
    font-weight: bold;
    border-radius: 13px 13px;
    letter-spacing: 2px;
    padding: 1%;
    font-family: "Inconsolata", sans-serif;
    width: 30%;
    margin: 0 auto;
}

@media (min-width: 940px){


}
