div.container{
width: 80%;
margin: 0 auto;
}
span{
  color: #FF6978;
}
div.registro input{
  width: 100%;
  margin: 0 auto;
}
div.registro select, input{
  border: 1px solid  black;
}
option{
font-family: "inconsolata", sans-serif;
color: #3e403f;
}
label{
  font-weight: bold;
}
div.btn.btn-info{
  background-color: #FF6978!important;
}
input#upload{
  width: 37%;
  margin: 2%;
}

h1{
  font-family: "Playfair Display",monospace;
  text-align: center;
  font-size: 140%;
  color: #3e403f;
  font-weight: bold;
  margin-top: 3%!important;
}
h3{
  font-family: "inconsolata",sans-serif;
  font-size: 120%;
  color: #FF6978;
  margin-top: 3%;
  margin-left: 5%;
  color: #3e403f;
}
div.foto{
  margin: 0 auto;
}
#crear {
  display: block;
  background-color: white;
    color: #3e403f;
    border: 2px solid #FFD0D9;
    font-size: 20px;
  font-family: "inconsolata",sans-serif;
    letter-spacing: 1px;
    padding: 1%;
    margin: 0 auto;
}
#crear:hover{
  background-color: #FFD0D9;
  color: white;
}


div.descripcion h3{
  font-size: 90%;
}
@media (min-width: 940px){

}
