div.container{
  width: 90%;
  margin: 0 auto;
font-family: "Inconsolata", sans-serif;
}
span{
  color: #FF6978;
}

option{
font-family: "inconsolata", sans-serif;
color: #3e403f;
}

div.imagen{
  width: 100%;
  display: block;

}

h2#titulo{
  font-family: "Inconsolata", sans-serif;
  font-size:100%;
  color: #3e403f;
  letter-spacing: 1px;
  font-weight: bold;
  margin-top: 10px;

}
main{
  width: 100%;
  text-align: center;
  border-radius: 5px;
  margin: 2% auto;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
  padding: 2%;
  background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
}
 h1{
  font-family: "Playfair Display",monospace;
  text-align: center;
  font-size: 150%;
  letter-spacing: 2px;
  color: #3e403f;
  font-weight: bold;

}

h3{
  font-family: "inconsolata",sans-serif;
  font-size: 100%!important;
  color: #FF6978;
  margin-left: 5%;
  color: #3e403f;
}
button#boton:hover{
background-color:#FFD0D9;
  color:white;
}
button.boton{
  background-color: white;
      color: #3e403f;
    border: 2px solid #FFD0D9;
    font-size: 20px;
    font-weight: bold;
    border-radius: 13px 13px;
    letter-spacing: 2px;
    padding: 1%;
    font-family: "Inconsolata", sans-serif;
    width: 30%;
    margin: 0 auto;
}

@media (min-width: 940px){
main{
  width: 80%;
}
div.imagen{
  width: 20%;
  display: block;
  margin: 0 auto;
}
div.imagen.profile img{
  width: 20%;
}
}
