div.registro{
width: 90%;
margin: 0 auto;
font-family: "inconsolata", sans-serif;
font-size: 110%;
padding: 4%;
color: #3e403f;
text-align: center;
}
span{
  color: #FF6978;
}
div.registro input{
  width: 100%;
  margin: 0 auto;
}
div.registro select, input{
  border: 1px solid  black;
}
option{
font-family: "inconsolata", sans-serif;
color: #3e403f;
}
label{
  font-weight: bold;
}

input#upload{
  width: 37%;
  margin: 2%;
}

h1{
  font-family: "Playfair Display",monospace;
  text-align: center;
  font-size: 140%;
  color: #3e403f;
  font-weight: bold;
  margin-top: 3%!important;
}
h3{
  font-family: "inconsolata",sans-serif;
  font-size: 120%;
  color: #FF6978;
  margin-top: 3%;
  margin-left: 5%;
  color: #3e403f;
}

#crear {
  background-color: white;
    color: #3e403f;
    border: 2px solid #FFD0D9;
    font-size: 25px;
    font-weight: bold;
    border-radius: 13px 13px;
    letter-spacing: 2px;
    padding: 2%;
    margin-top: 3%;

}
#crear:hover{
  background-color: #FFD0D9;
  color: white;
}

footer ul {
  margin-bottom: 0px;
}
div.descripcion h3{
  font-size: 90%;
}
@media (min-width: 940px){
h1{
  margin-top: 3%;
}
div.registro{
  width: 80%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}
div.registro input{
  width: 100%;
}
div.foto{
  margin: 0 auto;
}

}
