div.container{
  height: fit-content;
}
header {
  width: 100%;
}
div.inicio {
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
  padding: 2%;
  background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
  width: 90%;
  margin: 21px auto;
  height: 10%;
}
div.imagen{
  display: none;
}
div.inicio p{
  font-family: "Cookie", cursive;
  font-size:50%;
  color: #3e403f;
  letter-spacing: 1px;
  font-weight: 400;
  margin-top : 4%;
}
div.inicio h2 {
  font-family: "Cookie", cursive;
  font-size:350%;
  color: #3e403f;
  letter-spacing: 1px;
  font-weight: 400;

}

hr {
  border-top: 2px solid #21252966;
  width: 90%;
  margin: 21px auto;
}

div.producto{
  margin: 0 auto;
  width: 90%;
}
div.productos button{
  background-color: white;
  padding: 2%;
  color:#3e403f;;
  border: 2px solid white;
  font-family: "Inconsolata", sans-serif;
  margin: 0 auto;
}
div.mapa{
  display: none;
}

div.inicio button {
  background-color: white;
    color: #3e403f;
    font-family: "Inconsolata",sans-serif;
    border: 2px solid #FFD0D9;
    font-size: 20px;
    border-radius: 13px 13px;
    letter-spacing: 2px;
    padding: 2%;
    margin-top: 10%;
}
div.inicio button:hover{
  background-color: #FFD0D9;
  color: white;
}
div.card{
  border-radius: 13px 13px;
  border:2px solid #E3FDF5;
  padding-bottom: 2%;
  margin: 2%;
}

div.card p{
  font-family: "Inconsolata", sans-serif;
  font-weight: bold;
  font-size: 100%;
  text-align: center;
}
div.card h3{
  font-family: "Inconsolata", sans-serif;
  font-weight: bold;
  font-size: 100%;
  text-align: center;
}
div.card h4{
  display: block;
  width: 100%;
  font-family: "Inconsolata", sans-serif;
  font-weight: bold;
  font-size: 120%;
  text-align: center;
}

div.comprar{
  text-align: center;
}


@media (min-width: 940px){
div.container{
  height: fit-content;
}
div.producto{
  width: 90%;
  margin: 0 auto;
}

div.card{
width: 30%;
}
div.inicio{
  padding:4%;
  width:100%;
}

div.imagen{
  display: block;
  width: 30%;
}
div.imagen img {
width:60%!important;
}
}
