footer{
  display: none;
}

@media (min-width: 940px){
  footer{
    display: block;
  }
  footer ul li{
    width: 19%;
    float: left;
    margin: 3% 3%;
   border-radius: 13px 13px;
   padding: 1%;
  }
  footer ul{
    padding-bottom: 5%;
    margin: 0 auto;
}
}
