footer ul li {
  width: 100%;
  list-style: none;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 13px;
  background-color: #FF6978;
  color: white;
  margin-top: 1%;
}
footer ul {
  padding-inline-start: 0px;
   margin-bottom: 0px;
}

@media (min-width: 940px){
footer ul li{
  list-style: none;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 13px;
  background-color: #FF6978;
    width: 19%;
    float: left;
    margin: 3% 3%;
   border-radius: 13px 13px;
   padding: 1%;
   color:white;
  }
  footer ul{
    padding-inline-start: 0px;
     margin-bottom: 0px;
    padding-bottom: 5%;
    margin: 0 auto;
}
footer ul li a{
  color:white !important;
  text-decoration-style: none;
}
}
