*{
  box-sizing: border-box;
}
div.img img{
  width: 80%;
}
div.img{
width: 30%;
}
div.datos{
  text-align: center;
  font-family: 'Inconsolata', sans-serif;
  font-weight: bold;
  width: 50%;
}
h2{
  margin-top: -3%;
  font-weight: bold;
  font-family: "Playfair display",sans-serif;
  padding: 1%;
}
i{
  color:#FF6978;
}
div.comprar{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin:4%;
  justify-content: space-around;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
  padding: 2%;
  background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
}

h1{
  font-family: "Playfair Display";
  text-align: center;
  margin-top: 4%;
}
h4{
  width: 100%;
}
button{
  background-color: white;
  font-family: "Oswald", monospace;
  padding: 1%;
}

div.info{
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
    width: 80%;
    margin: 21px auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
div.secciones button{
width: 100%;
padding: 3%;
font-size: 159%;
background-color: white;
font-family: "Oswald", monospace;
margin: 0 auto;
display: block;
}
div.secciones{
display: flex;
justify-content: space-around;
width: 80%;
margin: 0 auto;
}
div.secciones a{
  text-decoration: none;
}

@media only screen and (min-device-width : 375px)
and (max-device-width : 667px) {
div.info{
display: block;
width: 73%;
}

div.img{
display: none;
}
h4{
  width: 100%;
  font-size: 100%;
}
div.datos{
margin: 0 auto;
width: 100%;
}
h2{
  padding: 0%;
}
div.secciones{
  display: block;
}
div.comprar{
  width: 90%;
}
h1{
  font-size: 162%;
}
div.secciones button{
  font-size: 100%;
}
footer ul{
  padding bottom: 0px;
  margin-bottom: 0px;
}
}
