.formulario{
    width: 80%;
    text-align: center;
    border-radius: 5px;
    margin: 10% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
}
 div.formulario header{
  text-align: center;
}
.formulario h2{
  font-size: 248%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
}
body h3{
  letter-spacing: 0.05em;
      font-family: 'Oswald', sans-serif;
      font-size: 117%;
      width: 100%;
      color: #3e403f;
      text-align: center;
      margin-bottom: 0%;
      margin-top: 2%;
}

p{
  letter-spacing: 0.05em;
      font-family: 'Oswald', sans-serif;
      font-size: 65%;
      width: 100%;
      color: #3e403f;
      text-align: center;
      margin-top: 2%;

}
button{
  letter-spacing: 0.05em;
      font-family: 'Oswald', sans-serif;
}

@media (min-width: 940px){
.formulario{
  margin: 2% auto;
}
p{
  font-size: 117%;
}
}
